#
# eclipse project
#
.settings/
.pydevproject
.cproject
.project

# python, rope
.ropeproject/

# vs code
.vscode/

casual.env

.unittest_domain_home/


core


#
# Build directories
#
dependencies/
obj/
bin/

#
# Build files
#
*.mk
*.pyc

*.log
/Debug/


#
# casual stuff
#
.casual/


/Default/
/Release/

#
# Tag files produced by Global
#
GPATH
GRTAGS
GSYMS
GTAGS
#
# Visual code workspace
#
*.code-workspace

# Test artifacts
report.xml
