# eclipse project (do anybody use this anymore?)
.settings/
.pydevproject
.cproject
.project

# python, rope
.ropeproject/

# vs code
.vscode/
*.code-workspace
.unititest_domain_home/

casual.env
core


# Build directories
dependencies/
obj/
bin/

# Build files
*.pyc
*.log
/Debug/

# casual stuff
.casual/

/Default/
/Release/

# Tag files produced by Global (what is this?)
GPATH
GRTAGS
GSYMS
GTAGS

# Test artifacts
report.xml

# osx crap files
.DS_Store

