.card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    &.horizontal {
        flex-direction: column;
        .card {
            margin-bottom: 0;
        }
    }
    &.sm {
        .card {
            padding: 3px;
            min-height: 25px;
            //margin: 3px 5px 3px 0;
            &.value-card {
                width: 206px;
                //min-height: 35px;
                //box-shadow: none;
                //background-color: transparent;
                .value {
                    font-size: 14pt;
                }
                .description {
                    font-size: 11pt;
                }
            }
        }
    }
}
.card {
    @extend .float;

    background-color: #ffffff;
    width: 417px;
    //display: flex;
    //flex-direction: column;
    //margin: 5px 8px 5px 0;
    padding: 5px;
    position: relative;
    // align-content: center;
    // align-self: stretch;

    .card-head {
        font-size: 14pt;
        font-weight: bold;
        padding-top: 0;
        margin-bottom: 10px;
        //        border-bottom: 1px solid $color-accent-tint-1;

        &.small {
            font-size: 13pt;
        }
    }

    &.value-card {
        text-align: right;
        min-height: 85px;
        position: relative;
        //background-color: $color-theme-tint-1;
        color: $color-text-tint-1;
        padding: 10px;

        //background: linear-gradient($color-theme-tint-1, $color-theme-tint-4,$color-theme-tint-1);
        .value {
            position: relative;
            font-size: 25pt;
            //font-weight: bold;
        }
        .description {
            font-size: 13pt;
            //position: absolute;
            //right: 10px;
            bottom: 25px;
        }
        &.sm {
            height: 65px;
            .description {
                bottom: 10px;
            }
        }
    }

    &.lg {
        width: 650px;
    }
}
