@font-face {
  font-family: "Source Code Pro";
  src: url("~@/assets/font/SourceCodePro-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Montserrat";
  src: url("~@/assets/font/montserrat/Montserrat-Regular.ttf") format("woff");
}

//@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

p {
  padding: 0;
  margin: 0;

}

div.big {
    font-size: 18pt;
    display: inline-block;

}
