<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
        <link href="grid.ccs" rel="stylesheet">
        <link href="navbar-fixed-top.ccs" rel="stylesheet">
        <script src="admin.js"></script>
    </head>
    
     <body ng-app="myCasualAdminApp" >
      <form ng-controller="CasualAdminCtrl">
        <div class="navbar navbar-default navbar-fixed-top" ng-init="state1='active'; state2='default'">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://casual.laz.se/redmine" target="_blank">casual</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li ng-class="state1"><a id="link-1" href ng-click="showServices = false; state1 = 'active'; state2='default'">servers</a></li>
                        <li ng-class="state2"><a id="link-2" href ng-click="showServices = true; state1 = 'default'; state2='active'">services</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ><input class="form-control" type="text" ng-model="searchText" placeholder="filter"/></li>
                        <li >&nbsp;&nbsp;&nbsp; </li>
                        <li ng-class="buttonclass"><a href="" ng-click="commit()">{{buttonlabel}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="custom-container">
            <div class="container">
                    <div class="row" ng-show="!showServices">
                         <div class="col-md-5" >
                           <br>
                           <br>
                           <br>
                           <br>
                              <table class="table table-striped">
                               <th>NAME</th>
                               <th>PATH</th>
                               <th>INSTANCES</th>
                               <tr ng-repeat="server in servers | filter:searchText"/>
                                  <td><a href ng-click='showInstance( server.instances)'>{{server.alias}}</a></td>
                                  <td>{{server.path}}</td>
                                  <td ng-show="editing"><input type="number" name="input" ng-model="server.instances.newlength"/></td>
                                  <td ng-show="!editing">{{server.instances.length}}</td>
                               </tr>
                            </table>
                         </div>
                         <div class="col-md-1" ></div>
                         <div class="col-md-4" >
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                               <table class="table table-striped">
                                  <th>NAME</th>
                               <th>PID</th>
                               <th>STATE</th>
                               <th>INVOKED</th>
                               <tr ng-repeat="instance in instances | filter:searchText"/>
                                  <td>{{getServer(instance.pid)}}</td>
                                  <td>{{instance.pid}}</td>
                                  <td>{{getState(instance.state)}}</td>
                                  <td>{{instance.invoked}}</td>
                               </tr>
                            </table>
                        </div>
                    </div>
                   <div class="row" ng-show="showServices">
                        <div class="col-md-5" >
                             <br>
                             <br>
                             <br>
                             <br>
                             <table class="table table-striped">
                                 <th>NAME</th>
                                 <th>SERVER</th>
                                 <th>LOOKEDUP</th>
                                 <tr ng-repeat="service in services | filter:searchText"/>
                                     <td>{{service.name}}</td>
                                     <td>{{getServer(service.instances[0])}}</td>
                                     <td>{{service.lookedup}}</td>
                                 </tr>
                             </table>
                        </div>
                    </div>
            </div>
        </div>
     </form>
    </body>
 </html>


